# Flutter-specific
/.dart_tool/
/build/
/.flutter-plugins
/flutter-plugins-dependencies
/.packages
/.flutter-plugins
/.flutter-plugins-dependencies
/pubspec.lock
/.idea/
/.vscode/
/*.iml

# iOS-related
ios/Flutter/Flutter.framework/
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/Flutter/App.framework/
ios/.symlinks/

# Android-related
/android/.gradle/
/android/app/build/
/android/local.properties

# IDE files
.idea/
*.iml
.vscode/

# macOS-specific
.DS_Store